@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

.text-type {
  display: inline-block;
  white-space: pre-wrap;

}

.text-type__cursor {
  margin-left: 0.25rem;
  display: inline-block;
  opacity: 1;
}

.text-type__cursor--hidden {
  display: none;
}

.fade-ultra {
  opacity: 0;
  transform: translateY(20px);
}

.show-ultra {
  opacity: 1 !important;
  transform: translateY(0) !important;
}
@keyframes moveLine {
  0% { transform: translateX(-100%); }
  100% { transform: translateX(100%); }
}

@keyframes pulseWave {
  0%, 100% { opacity: 0.2; }
  50% { opacity: 0.5; }
}